CREATE VIEW [dbo].[VDIM_METRO_SHAPES] AS

SELECT [ID_METRO_SHAPES_GROUP]
      ,[STOP_ID]
      ,[STOP_NAME]
      ,[STOP_SEQ]
      ,[SHAPE_ID]
      ,[LINE_NAME]
      ,[SHAPE_SEQ_1]
      ,[SHAPE_SEQ_2]
	  ,SUBSTRING( [LINE_NAME] ,1, CHARINDEX(' - ',[LINE_NAME])-1)  AS METRO_LINE
	  ,SUBSTRING( [LINE_NAME] , CHARINDEX(' - ',[LINE_NAME])+3,LEN([LINE_NAME]))  AS METRO_DIRECTION
  FROM [SMART_M_LISBON].[dbo].[METRO_SHAPES_GROUP]
  GO