CREATE VIEW [dbo].[VDIM_CARRIS_STOPS] AS

SELECT 
	   [STOP_ID]
      ,[STOP_NAME]
      ,[STOP_SEQ]
      ,SUBSTRING([LINE_NAME],1,3) AS BUS_ROUTE_ID
	  ,SUBSTRING([LINE_NAME],7,LEN([LINE_NAME])) AS BUS_ROUTE_NAME
	  ,[LINE_NAME] AS BUS_ROUTE_DESC
  FROM [SMART_M_LISBON].[dbo].[CARRIS_STOPS_GROUP]

  GO