CREATE VIEW [dbo].[VDIM_EVENTS] AS

SELECT [ID_EVENT]
      ,[address] AS ADRESS
      ,[borough] AS S_ADRESS
      ,[code] AS CODE
      ,[detail] AS EVENT_NAME
      ,[POSITION_TIPO] AS TYPE_COORD
      ,[start_date] AS EVENT_START_DATE
      ,[typology] AS EVENT_CATEGORY
      ,[typology_code] EVENT_CATEGORY_ID
      ,[validity_ts] EVENT_END_DATE
      ,[EVENT_DATE]
  FROM [SMART_M_LISBON].[dbo].[EVENTOS_GROUP]

  GO