CREATE VIEW [dbo].[VDIM_METRO_STOPS] AS

SELECT 
	   [STOP_ID]
      ,[STOP_NAME]
      ,[STOP_SEQ]
	  ,SUBSTRING( [LINE_NAME] ,1, CHARINDEX(' - ',[LINE_NAME])-1)  AS METRO_LINE
	  ,SUBSTRING( [LINE_NAME] , CHARINDEX(' - ',[LINE_NAME])+3,LEN([LINE_NAME]))  AS METRO_DIRECTION
	  ,[LINE_NAME] AS METRO_LINE_DESC
  FROM [SMART_M_LISBON].[dbo].[METRO_STOPS_GROUP]

  GO