CREATE VIEW [dbo].[VDIM_CARRIS_SHAPES] AS

SELECT 
	   [ID_CARRIS_SHAPES_GROUP]
      ,[STOP_ID]
      ,[STOP_NAME]
      ,[STOP_SEQ]
      ,[SHAPE_ID]
      ,[LINE_NAME]
      ,[SHAPE_SEQ_1]
      ,[SHAPE_SEQ_2]
  FROM [SMART_M_LISBON].[dbo].[CARRIS_SHAPES_GROUP]

  GO