/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [SMART_M_LISBON].[pred].[STOP_JAMS]
SELECT *
  FROM [SMART_M_LISBON].[pred].[GIRA_STOPS]
SELECT *
  FROM [SMART_M_LISBON].[pred].[MARATHON_ROUTE_STOPS]
SELECT *
  FROM [SMART_M_LISBON].[pred].[STOP_METRO]
SELECT *
  FROM [SMART_M_LISBON].[pred].[STOP_TRAIN]
SELECT *
  FROM [SMART_M_LISBON].[pred].[WEATHER_FACTS]
SELECT *
  FROM [SMART_M_LISBON].[pred].[WEATHER_STOPS]
SELECT *
  FROM [SMART_M_LISBON].[pred].[WEATHER]